<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>会议</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
    <title>在线会议</title>
    <link rel="stylesheet" href="/function/css/canvas.css"/>
    <link rel="stylesheet" href="/function/css/style.css"/>
    <link rel="stylesheet" href="/function/css/chat_animation.css"/>
    <link rel="stylesheet" href="/components/bootstrap/dist/css/bootstrap.min.css"/>
    <script type="text/javascript" src="/components/jquery/dist/jquery.min.js"></script>
    <script type="text/javascript" src="/function/js/chat_animation.js"></script>
    <script type="text/javascript" src="/components/bootstrap/dist/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="/components/angular/angular.min.js"></script>
    <script type="text/javascript" src="/components/angular-bootstrap/ui-bootstrap-tpls.min.js"></script>
    <script type="text/javascript" src="/function/js/init.js"></script>
    <script type="text/javascript" src="/function/js/draw.js"></script>
    <script type="text/javascript" src="/function/js/storage.js"></script>
    <script type="text/javascript" src="/function/js/Left_func.js"></script>
</head>
<body>
    <nav class="navbar navbar-inverse">
        <div class="container">
            <div class="container-fluid">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-  expanded="false">
                        <span class="sr-only"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="#">在线会议</a>
                </div>
                <div id="navbar" class="navbar-collapse collapse">
                    <form class="navbar-form navbar-right">
                        <div class="form-group input-group">
                            <span class="input-group-addon">房间号:</span>
                            <input type="text" id="session-id" placeholder="room-id" class="form-control">
                        </div>
                        <button type="button"  id="open" class="btn btn-primary">创建</button>
                        <button type="button" id="join" class="btn btn-info">加入</button>
                    </form>
                    <form class="navbar-form navbar-right">
                        <div class="form-group input-group">
                            <span class="input-group-addon">好友:</span>
                            <input type="text" id="addFriend" placeholder="room-id" class="form-control">
                        </div>
                        <button type="button"  id="submitAdd" class="btn btn-primary">添加</button>
                    </form>
                </div><!--/.navbar-collapse -->
            </div><!-- /.container-fluid -->
        </div>
    </nav>
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-5" ng-app="left_func">
                <div id="leftArrow"><a href="javascript:;" title="好友&文件"></a></div>
                <div class="friend-file" id="friend_file">
                    <tabset justified="true">
                        <tab heading="好友">
                            <div class="col-md-12" style="height: 300px;">
                                <div ng-include="'/template/friend.html'"></div>
                            </div>
                        </tab>
                        <tab heading="文件">
                            <div class="col-md-12" style="height: 300px;" ng-controller="Share_file" >
                                <label for="sharefile">公示区:</label>
                                <button type="button" id="share-file" disabled class="btn btn-primary" style="margin-left: 25%;" ng-click="addItem()">分享文件</button>
                                <hr/>
                                <label for="sharefile1">文件共享:</label>
                                <div id="file_area"></div>
                            </div>
                        </tab>
                    </tabset>
                </div>
                <div id="leftvideo"><a href="javascript:;" title="好友&文件"></a></div>
                <div class="col-md-12" id="sharevideo">
                    <label for="Video">视频区:</label>
                    <div class="video"></div>
                </div>
            </div>
            <div class="col-md-7 main_area">
                <div class="col-md-8" id="whiteboard" style="height: 650px;">
                    <img id="preview-image"  style="position: absolute; top:0; left: 15px;z-index:91;">
                    <div id="elementToShare" contenteditable style="height: 650px;width: 490px;">
                        <div style="margin-left: 25%;">
                            <button class="btn btn-default" id="prev">Previous</button>
                            <button class="btn btn-default" id="next">Next</button>
                            &nbsp; &nbsp;
                            <span>Page: <span id="page_num"></span> / <span id="page_count"></span></span>
                        </div>
                        <div id="drawController" style="">
                            <img src = '/resource/image/pencil.png' width = '20px;' height = '20px;' class="img" onclick="draw_graph('pencil',this)" class = 'border_nochoose' title = "pencil"/><br/>
                            <img src = '/resource/image/line.png' width = '20px;' height = '20px;' class="img" onclick="draw_graph('line',this);" class = 'border_nochoose' title = "line"/><br/>
                            <img src = '/resource/image/cancel.png' width = '20px;' height = '20px;' class="img" onclick="cancel(this)" class = 'border_nochoose' title = "cancel"/><br/>
                            <img src = '/resource/image/next.png' width = '20px;' height = '20px;' class="img" onclick="next(this)" class = 'border_nochoose' title = "next"/><br/>
                            <input id="/resource/image/chooseColor"  type="button"  class = 'i1 border_nochoose' onclick="showColor(this)" title = "chooseColor"/><br/>
                            <img src = '/resource/image/square.png' width = '20px;' height = '20px;' class="img" onclick="draw_graph('square',this)" class = 'border_nochoose' title = "square"/><br/>
                            <img src = '/resource/image/circle.png' width = '20px;' height = '20px;' class="img" onclick="draw_graph('circle',this)" class = 'border_nochoose' title = "circle"/><br/>
                            <img src = '/resource/image/handwriting.png' width = '20px;' height = '20px;' class="img" onclick="draw_graph('handwriting',this)" class = 'border_nochoose' title = handwriting/><br/>
                            <img src = '/resource/image/rubber.png' width = '20px;' height = '20px;' class="img" onclick="draw_graph('rubber',this)" class = 'border_nochoose' title = "rubber"/><br/>
                            <img  id="chooseSize" src = '/resource/image/line_size_1.png'  width = '20px;' height = '20px;' class="img" onclick="showLineSize(this)" class = 'border_nochoose' title = "chooseSize"/><br/>
                            <img src = '/resource/image/xx.png' width = '20px;' height = '20px;' class="img" onclick="clearContext('1')" class = 'border_nochoose' title = "xx"/><br/>
                            <img src = '/resource/image/save.png' width = '20px;' height = '20px;' class="img" onclick="save()" class = 'border_nochoose' title = "save"/><br/>
                            <a href="#" download="picture.png"  id="downloadImage_a">
                                <img src = '/resource/image/download.png' width = '20px;' height = '20px;' class="img" class = 'border_nochoose' title = "download" onclick="downloadImage();"/>
                            </a><br/>
                        </div>

                        <div style="float:left;width:30%">
                            <canvas id="the-canvas" width="450" height="570"  style="z-index:1;"></canvas>
                            <canvas id="canvas" width="450" height="600" style="z-index:2;">
                                该浏览器不支持Canvas;
                            </canvas>
                            <canvas id="canvas_bak" width="450" height="570" style="z-index:5;" ></canvas>
                        </div>
                        <div id="color" class="color" >
                            <input class="i1" type="button"/>
                            <input class="i2" type="button"/>
                            <input class="i3" type="button"/>
                            <input class="i4" type="button"/>
                            <input class="i5" type="button"/>
                            <input class="i6" type="button"/>
                            <input class="i7" type="button"/>
                            <input class="i8" type="button"/>
                        </div>
                        <div id="line_size"  class = "border_nochoose" style="z-index:-1">
                            <img src="/resource/image/line_size_1.png" width = '80px;' height = '12px;' onclick="chooseLineSize(1)"><br/>
                            <img src="/resource/image/line_size_3.png" width = '80px;' height = '12px;' onclick="chooseLineSize(3)"><br/>
                            <img src="/resource/image/line_size_5.png" width = '80px;' height = '12px;' onclick="chooseLineSize(5)"><br/>
                            <img src="/resource/image/line_size_7.png" width = '80px;' height = '12px;' onclick="chooseLineSize(7)">
                        </div>
                    </div>
                    <div style="position: absolute;bottom: 0;left: 35%;">
                        <!--<button id="open-room" class="btn btn-info">Open Room</button>-->
                        <button id="share-part-of-screen" class="btn btn-info" disabled>Share Part Of Screen</button>
                    </div>
                </div>
                <div id="rightArrow"><a href="javascript:;" title="聊天"></a></div>
                <div class="col-md-4" id="floatchat" style="height: 650px;">
                    <input type="text" id="input-text-chat" class="form-control" disabled placeholder="输入文字 Enter发送" style="position: absolute;bottom: 0;width: 90%;">
                    <div class="chat-output"></div>
                </div>
                </div>
            </div>
        </div>
        <nav class="navbar  navbar-fixed-bottom" style="background-color: rgba(32, 105, 77, 0.48);">
            <div class="container">
                <ul class="nav navbar-nav navbar-right">
                    <li role="presentation" class="">
                        <a id="logout1"><i class="glyphicon glyphicon-log-out"></i>&nbsp;&nbsp;退出</a>
                    </li>
                </ul>
            </div>
        </nav>
    </div>
    <script src="/reliable-signaler/signaler.js"></script>
    <script src="/socket.io/socket.io.js"></script>
    <script src="https://cdn.webrtc-experiment.com/RTCMultiConnection.js"></script>
    <script src="https://cdn.webrtc-experiment.com/FileBufferReader.js"></script>
    <script src="/function/js/share.js"></script>

    <script src="/pdfShow/pdf.js"></script>
</body>

</html>